<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>{{ator.nome}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="light">
  <ion-card *ngIf="ator">
    <ion-card-header>
      <img *ngIf="ator.rosto" src="{{ator.rosto}}" />
      <ion-icon *ngIf="!ator.rosto" name="videocam-off"></ion-icon>
    </ion-card-header>

    <ion-card-content>
      <h1>{{ator.nome}}</h1>
      <p>{{ator.nascimento}}</p>
    </ion-card-content>
    <ion-item>
      <ion-badge color="medium">{{ator.genero}}</ion-badge>
    </ion-item>
  </ion-card>
</ion-content>